@charset "UTF-8";

/* FONTS */
@font-face {
    font-family: 'BloknotCBold';
    src: url('../fonts/BloknotC-Bold/fontsbloknotc-bold.eot');
    src: url('../fonts/BloknotC-Bold/bloknotc-bold.eot') format('embedded-opentype'),
         url('../fonts/BloknotC-Bold/bloknotc-bold.woff') format('woff'),
         url('../fonts/BloknotC-Bold/bloknotc-bold.ttf') format('truetype'),
         url('../fonts/BloknotC-Bold/bloknotc-bold.svg#BloknotCBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoThin';
    src: url('../fonts/Lato-Thin/lato-thin.eot');
    src: url('../fonts/Lato-Thin/lato-thin.eot') format('embedded-opentype'),
         url('../fonts/Lato-Thin/lato-thin.woff') format('woff'),
         url('../fonts/Lato-Thin/lato-thin.ttf') format('truetype'),
         url('../fonts/Lato-Thin/lato-thin.svg#LatoThin') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoBold';
    src: url('../fonts/Lato-Bold/lato-bold.eot');
    src: url('../fonts/Lato-Bold/lato-bold.eot') format('embedded-opentype'),
         url('../fonts/Lato-Bold/lato-bold.woff') format('woff'),
         url('../fonts/Lato-Bold/lato-bold.ttf') format('truetype'),
         url('../fonts/Lato-Bold/lato-bold.svg#LatoBold') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoRegular';
    src: url('../fonts/Lato-Regular/lato-regular.eot');
    src: url('../fonts/Lato-Regular/lato-regular.eot') format('embedded-opentype'),
         url('../fonts/Lato-Regular/lato-regular.woff') format('woff'),
         url('../fonts/Lato-Regular/lato-regular.ttf') format('truetype'),
         url('../fonts/Lato-Regular/lato-regular.svg#LatoRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoBlack';
    src: url('../fonts/Lato-Black/lato-black.eot');
    src: url('../fonts/Lato-Black/lato-black.eot') format('embedded-opentype'),
         url('../fonts/Lato-Black/lato-black.woff') format('woff'),
         url('../fonts/Lato-Black/lato-black.ttf') format('truetype'),
         url('../fonts/Lato-Black/lato-black.svg#LatoBlack') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoHeavy';
    src: url('../fonts/Lato-Heavy/lato-heavy.eot');
    src: url('../fonts/Lato-Heavy/lato-heavy.eot') format('embedded-opentype'),
         url('../fonts/Lato-Heavy/lato-heavy.woff') format('woff'),
         url('../fonts/Lato-Heavy/lato-heavy.ttf') format('truetype'),
         url('../fonts/Lato-Heavy/lato-heavy.svg#LatoHeavy') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'LatoSemibold';
    src: url('../fonts/Lato-Semibold/lato-semibold.eot');
    src: url('../fonts/Lato-Semibold/lato-semibold.eot') format('embedded-opentype'),
        url('../fonts/Lato-Semibold/lato-semibold.woff') format('woff'),
        url('../fonts/Lato-Semibold/lato-semibold.ttf') format('truetype'),
        url('../fonts/Lato-Semibold/lato-semibold.svg#LatoSemibold') format('svg');
    font-weight: normal;
    font-style: normal;
}


@font-face {
    font-family: 'BloknotCRegular';
    src: url('../fonts/BloknotC/.eot');
    src: url('../fonts/BloknotC/.eot') format('embedded-opentype'),
         url('../fonts/BloknotC/.woff') format('woff'),
         url('../fonts/BloknotC/.ttf') format('truetype'),
         url('../fonts/BloknotC/.svg#BloknotCRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadProRegular';
    src: url('../fonts/MyriadPro-Regular/myriadpro-regular.eot');
    src: url('../fonts/MyriadPro-Regular/myriadpro-regular.eot') format('embedded-opentype'),
        url('../fonts/MyriadPro-Regular/myriadpro-regular.woff') format('woff'),
        url('../fonts/MyriadPro-Regular/myriadpro-regular.ttf') format('truetype'),
        url('../fonts/MyriadPro-Regular/myriadpro-regular.svg#MyriadProRegular') format('svg');
    font-weight: normal;
    font-style: normal;
}


/*-----------------------------------------------------------------------------
 * Best Practice :: common.css
 * ----------------------------------------------------------------------------
 * Contents :
 *  1. RESET
 *  2. NORMALIZE
 *  3. GRID
 *  4. HELPER CLASSES
 *  5. FRAMEWORK
 *-----------------------------------------------------------------------------*/

/*-----------------------------------------------------------------------------
 * 1. RESET
 *------------------------------------------------------------------------------*/
/* Let's default this */
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote,
pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small,
strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label,
legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure,
footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer,
header, hgroup, main, nav, section, summary {
  display: block;
}

/* Remove most spacing between table cells */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

td,
th {
  padding: 0;
}

ol, ul {
  list-style: none;
}

/**
 * Apply a natural box layout model to all elements:
 * (http://www.paulirish.com/2012/box-sizing-border-box-ftw/)
 */
*,
*:before,
*:after {
  -moz-box-sizing: border-box;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
 }

/*-----------------------------------------------------------------------------
 * 2. NORMALIZE
 *------------------------------------------------------------------------------*/
/**
 * 1. Set default font family to sans-serif.
 * 2. Prevent iOS text size adjust after orientation change, without disabling user zoom.
 * 3. Force a vertical scrollbar to prevent a jumpy page
 * (http://css-tricks.com/snippets/css/force-vertical-scrollbar/)
 */
html {
  font-family: sans-serif; /* 1 */
  -ms-text-size-adjust: 100%; /* 2 */
  -webkit-text-size-adjust: 100%; /* 2 */
  overflow-y: scroll; /* 3 */
}

body {
  font: 16px/1 "Helvetica Neue", Helvetica, Arial, sans-serif;
}

/**
 * 1. Correct `inline-block` display not defined in IE 8/9.
 * 2. Normalize vertical alignment of `progress` in Chrome, Firefox, and Opera.
 */
audio,
canvas,
progress,
video {
  display: inline-block; /* 1 */
  vertical-align: baseline; /* 2 */
}

/**
 * Responsive images and other embedded objects
 * Note: keeping IMG here will cause problems if you're using foreground images as sprites.
 */
img,
object,
embed {
  max-width: 100%;
}

/**
 * Prevent modern browsers from displaying `audio` without controls.
 * Remove excess height in iOS 5 devices.
 */
audio:not([controls]) {
  display: none;
  height: 0;
}

/**
 * Address `[hidden]` styling not present in IE 8/9/10.
 * Hide the `template` element in IE 8/9/11, Safari, and Firefox < 22.
 */
[hidden],
template {
  display: none;
}

/* Remove the gray background color from active links in IE 10 */
a {
  background: transparent;
}

/* Improve readability when focused and also mouse hovered in all browsers */
a:active,
a:hover {
  outline: 0;
}

/* Address style set to `bolder` in Firefox 4+, Safari, and Chrome */
b {
  font-weight: bold;
}

/* Remove border when inside `a` element in IE 8/9/10 */
img {
  border: 0;
}

/* Correct overflow not hidden in IE 9/10/11 */
svg:not(:root) {
  overflow: hidden;
}

/**
 * 1. Correct color not being inherited.
 * 2. Correct font properties not being inherited.
 * 3. Address margins set differently in Firefox 4+, Safari, and Chrome.
 */
button,
input,
optgroup,
select,
textarea {
  color: inherit; /* 1 */
  font: inherit; /* 2 */
  margin: 0; /* 3 */
}

/* Address `overflow` set to `hidden` in IE 8/9/10/11 */
button {
  overflow: visible;
}

/**
 * 1. Avoid the WebKit bug in Android 4.0.* where (2) destroys native `audio`
 *    and `video` controls.
 * 2. Correct inability to style clickable `input` types in iOS.
 * 3. Improve usability and consistency of cursor style between image-type
 *    `input` and others.
 */
button,
html input[type="button"], /* 1 */
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button; /* 2 */
  cursor: pointer; /* 3 */
}

/* Re-set default cursor for disabled elements */
button[disabled],
html input[disabled] {
  cursor: default;
}

/* Remove inner padding and border in Firefox 4+ */
button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0;
}

/**
 * Address Firefox 4+ setting `line-height` on `input` using `!important` in
 * the UA stylesheet.
 */
input {
  line-height: normal;
}

/**
 * It's recommended that you don't attempt to style these elements.
 * Firefox's implementation doesn't respect box-sizing, padding, or width.
 *
 * 1. Address box sizing set to `content-box` in IE 8/9/10.
 * 2. Remove excess padding in IE 8/9/10.
 */
input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box; /* 1 */
  padding: 0; /* 2 */
}

/*-----------------------------------------------------------------------------
 * 2. GRID
 *------------------------------------------------------------------------------*/
.grid {
  display: block;
  width: 100%;
  margin: 0 auto;
  overflow: hidden;
}

.grid:after {
  content: "";
  display: table;
  clear: both;
}

@media screen and (min-width: 980px) {
  .grid > [class*='col'] {
    float: left;
  }

  .grid > [class*='colp'] {
    padding-left: 30px;
  }

  .grid > [class*='colp']:first-child {
    padding-left: 0px;
  }
}

/*-----------------------------------------------------------------------------
 * 3. HELPER CLASSES
 *------------------------------------------------------------------------------*/

/* .cf (clearfix) - clear floats */
.cf:before,
.cf:after {
  content: "\0020";
  display: block;
  height: 0;
  overflow: hidden;
}
.cf:after {
  clear: both;
}
.ie6 .cf {
  zoom: 1;
}

 /* .pull-left/right */
.pull-left {
  float: left;
}

.pull-right {
  float: right;
}

/* .clickable - hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button { cursor: pointer; }

/* .hidden / .visible */
.hidden {
  display: none;
  visibility: hidden;
}

.visible {
  display: block;
  visibility: visible;
}

/*-----------------------------------------------------------------------------
 * FRAMEWORK
 *------------------------------------------------------------------------------*/
.btn {
  display: inline-block;
  padding: 15px 32px;
  font-family: 'BloknotCBold';
  text-transform: uppercase;
  text-decoration: none;
  color: #1b1d20;
  background: #ecbd00;
  border: none;
}

/*-----------------------------------------------------------------------------
 * SECTION
 *------------------------------------------------------------------------------*/
.section {
  font-size: 18px;
  overflow: hidden;
}
  .m-section-works {
    padding: 80px 0 50px 0;
    background: #fff;
  }
  .m-section-wdo {
    padding: 100px 0 90px 0;
    background: #ecbd00;
  }
  .m-section-process {
    padding: 80px 0 70px 0;
    background: #fff;
  }
  .m-section-fill_brief {
    padding: 60px 0;
    background: #2f3238;
    text-align: center;
  }
  .m-section-contacts {
    padding: 75px 0 95px 0;
  }
  .m-section-social {
    padding: 75px 0 110px 0;
    background: #2f3238;
  }
  .m-section-copyrights {
    padding: 25px 0;
    background: #26292e;
  }

.section__inner {
  position: relative;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  z-index: 10;
}

.section__title {
  margin: 0 0 20px 0;
  font: normal 2.6em/1 'LatoBold';
  text-align: center;
  color: #1b1d20;
}

.section__desc {
  margin: 0 0 15px 0;
  font: normal 1.3em/1 'LatoRegular';
  text-align: center;
  color: #2f3238;
}


@media screen and (min-width: 980px) {
  .m-section-works {
    padding: 160px 0 100px 0;
  }

  .m-section-wdo .section__content {
      margin: 100px 0 0 0;
  }
}

.section-header {
  background: #26282b;
}

/*-----------------------------------------------------------------------------
 * HEADDER
 *------------------------------------------------------------------------------*/
.header {
  position: absolute;
  width: 100%;
  top: 55px;
  padding: 0 10px;
}

.header_inner{
  position: relative;
}

.logo {
  position: absolute;
}

/*-----------------------------------------------------------------------------
 * NAV
 *------------------------------------------------------------------------------*/
.nav_inner {
  position: relative;
  float: right;
}

 .nav_btn {
  background: transparent;
  border: 1px solid #fefefe;
  padding: 15px 16px;
  color: #fefefe;
  font: 1em 'BloknotCBold';
  text-transform: uppercase;
  outline: none;
 }

 .nav_list {
  float: right;
  display: none;
  position: absolute;
  top: 100%;
  right: 0;
  background: #26282b;
  padding: 15px 0 0 0;
 }

  .nav_link {
    color: #fefefe;
    text-decoration: none;
    font: 1em 'BloknotCBold';
    text-transform: uppercase;
    display: block;
    padding: 6px 16px;
 }

 .nav-active .nav_btn {
  border-color: #ecbd00;
 }

 .nav-active .nav_list {
  display: block;
 }

  .nav_item-active .nav_link {
    background: #ecbd00;
    color: #1b1d20;
  }

@media screen and (min-width: 720px) {
  .nav_btn {
    display: none;
  }

  .nav_list {
    display: block;
    position: relative;
    background: transparent;
  }

  .nav_item {
    display: inline-block;
  }
}

.slider_wrap {
  position: relative;
  width: 100%;
  background: url('../img/header/header_slider_1.png') no-repeat 50%;
  background-size: contain;
}

.h_slide {
  display: table;
  width: 100%;
  max-width: 1100px;
  margin: 0 auto;
  padding: 360px 10px 125px 10px;
  font-family: 'LatoThin';
}
.h_slide__right,
.h_slide_left {
  display: table-cell;
}
.h_slide__right {
  width: 75%;
}
.h_slide_left {
  width: 25%;
}

.h_slide__txt {
  font-size: 4em;
  color: #fff;
}

.h_slide__txt_extra {
  position: relative;
  color: #ffc902;
}
  .h_slide__txt_extra:before {
    content: "";
    position: absolute;
    bottom: 0;
    left: 0;
    display: block;
    width: 100%;
    height: 6px;
    background: #ffc902;
  }

.slider__btn {
  margin: 45px 0 0 0;
}

/* Works */
.works__wrap {
  margin: 80px 0 0 0;
}

.wtypes__list {
  margin: 0 0 30px 0;
  text-align: center;
}

.wtypes__item {
  display: inline-block;
}

.wtypes__btn {
  display: block;
  padding: 6px 8px;
  font: .83em 'LatoBold';
  color: #26292e;
  text-decoration: none;
}
  .m-wtypes__btn-active {
    background: #ecbd00;
  }

.works__examples_inner {
  margin: 0 auto;
}

.works__item_inner {
  position: relative;
  width: 270px;
  height: 200px;
  margin: 0 auto 30px;
  padding: 0;
  overflow: hidden;
}

.works__preview {
  width: 100%;
  height: 100%;
}

.witem-hidden {
  width: 0;
  height: 0;
  visibility: hidden;
  -webkit-animation: bounceOut .3s;
  animation: bounceOut .3s;
}

.witem__wrap {
  position: absolute;
  top: 100%;
  right: 0;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 100%;
  background: #ecbd00;
  -webkit-transition: top .2s ease .2s;
  transition: top .2s ease .2s;
}
  .works__item_inner:hover .witem__wrap {
    top: 0;
  }

.witem__title_link {
  font: 1em 'LatoBlack';
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
}

.witem__inner {
  position: relative;
  width: 100%;
  height: 100%;
}

.witem__info {
  position: absolute;
  left: 15px;
  bottom: 25px;
}

.works__item_inner:hover .witem__info {
  -webkit-animation: bounceInLeft .3s .3s;
  animation: bounceInLeft .3s .3s;
}

.witem__txt {
  margin: 5px 0 0 0;
  font: .78em 'LatoRegular';
  text-transform: lowercase;
}
@media screen and (min-width: 980px) {
  .works__examples_inner {
    width: 870px;
  }

  .works__item:nth-child(3n+4) {
    padding-left: 0;
  }
}
@media screen and (min-width: 1100px) {
  .works__types {
    float: left;
  }

  .wtypes__list {
    margin-top: 40px;
    text-align: left;
  }

  .wtypes__item {
    display: list-item;
    margin: 0 0 10px 0;
  }

  .wtypes__btn {
    display: inline-block;
  }

  .works__examples {
    width: 870px;
    float: right;
    margin: 0 0 0 100px;
  }

  .works__item:nth-child(3n+4) {
    padding-left: 0;
  }
}

/* What we do - service */
.wdo__point {
  margin: 0 0 25px 0;
  padding: 100px 0 0 0;
  text-align: center;
  color: #000;
  background-repeat: no-repeat;
  background-position: center 20px;
  -webkit-transition: background .3s ease;
  transition: background .3s ease;
}
  .m-wdo__point-branding {
    background-image: url('../img/service/branding.png');
  }
  .m-wdo__point-web_dev {
    background-image: url('../img/service/web-dev.png');
  }
  .m-wdo__point-brain {
    background-image: url('../img/service/brain.png');
  }

.wdo__name {
  margin: 0 0 10px 0;
  font: normal 1.33em 'LatoHeavy';
  text-transform: uppercase;
}

.wdo__item {
  font: 1em 'LatoRegular';
}

@media screen and (min-width: 980px) {
  .wdo__point {
    width: 30%;
  }
  .wdo__point {
    background-position: center 0;
  }
}

/* Process */
.process__preview {
  width: 290px;
  height: 520px;
  margin: 0 auto;
  background-repeat: no-repeat;
  background-image: url('../img/process/process_vertical.png');
}

.process__desc {
  margin: 15px 10px 0 10px;
  font: 1em 'LatoRegular';
}

.process__view  {
  margin: 60px 0 0 0;
}

@media screen and (min-width: 980px) {
  .process__preview {
    width: 1042px;
    height: 135px;
    background-image: url('../img/process/process_horizontal.png');
  }

  .process__item {
    width: 33%;
    padding-right: 2%;
  }
  .process__item:last-child {
    padding: 0;
  }
}

/* Fill brief */
.fill_brief__link {
  font: 1.33em 'LatoBlack';
}

/* Contacts */
.contacts_preview__inner {
  padding: 40px 0 0 0;
}

.cp_info__title {
  margin: 0 0 20px 0;
  font: 1.33em 'LatoBold';
  text-align: center;
  text-transform: uppercase;
  color: #26292e;
}

.cp_info__list {
  text-align: center;
}

.cp_info__item {
  margin: 0 0 10px 0;
}
.cp_info__link {
  font: .88em'LatoRegular';
  color: #26292e;
  text-decoration: none;
}

.cp_form {
  padding: 0 5%;
}

.cp_form__inp {
  display: block;
  width: 100%;
  margin: 0 0 10px 0;
  padding: 20px;
  background: #ebebeb;
  border: 1px solid #26292e;
  font: normal .88em 'LatoRegular';
}

.cp_form__btn {
  text-transform: none;
  color: #26292e;
}

@media screen and (min-width: 980px) {
  .cp_info {
    float: right;
    width: 200px;
    padding: 0;
  }

  .cp_info__title,
  .cp_info__list {
    text-align: left;
  }

  .cp_form {
    margin-right: 200px;
    padding: 0 5% 0 0;
  }
}

/* Social */
.social__list {
  text-align: center;
}

.social__item {
  display: inline-block;
  margin: 0;
}

.social__link {
  display: block;
  width: 70px;
  height: 70px;
  background-color: #26292e;
  -webkit-transition: background-color .3s ease;
  -o-transition: background-color .3s ease;
  transition: background-color .3s ease;
}
  .social__link:hover {
    background-color: #ecbd00;
  }

.social__icon {
  opacity: .3;
  -webkit-transition: opacity .3s ease;
  -o-transition: opacity .3s ease;
  transition: opacity .3s ease;
}
  .social__link:hover .social__icon {
    opacity: 1;
  }

@media screen and (min-width: 980px) {
  .social__item {
    margin: 0 25px 0 0;
  }
}

/* Copyright */
.copyrights__txt {
  font: 0.66em 'LatoRegular';
  text-align: center;
  color: #fefefe;
}
.copyrights__ext {
  color: #de5e60;
  text-transform: uppercase;
}


/* Animate */
@-webkit-keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500px);
    transform: translateX(-500px);
  }

  60% {
    opacity: .6;
    -webkit-transform: translateX(30px);
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    transform: translateX(0);
  }
}

@keyframes bounceInLeft {
  0% {
    opacity: 0;
    -webkit-transform: translateX(-500px);
    -ms-transform: translateX(-500px);
    transform: translateX(-500px);
  }

  60% {
    opacity: .6;
    -webkit-transform: translateX(30px);
    -ms-transform: translateX(30px);
    transform: translateX(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateX(0);
    -ms-transform: translateX(0);
    transform: translateX(0);
  }
}

.bounceInLeft {
  -webkit-animation-name: bounceInLeft;
  animation-name: bounceInLeft;
}

@-webkit-keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(.95);
    transform: scale(.95);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(.3);
    transform: scale(.3);
    display: none;
  }
}

@keyframes bounceOut {
  0% {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    transform: scale(1);
  }

  25% {
    -webkit-transform: scale(.95);
    -ms-transform: scale(.95);
    transform: scale(.95);
  }

  50% {
    opacity: 1;
    -webkit-transform: scale(1.1);
    -ms-transform: scale(1.1);
    transform: scale(1.1);
  }

  100% {
    opacity: 0;
    -webkit-transform: scale(.3);
    -ms-transform: scale(.3);
    transform: scale(.3);
    display: none;
  }
}

.bounceOut {
  -webkit-animation-name: bounceOut;
  animation-name: bounceOut;
}

/*-----------------------------------------------------------------------------
 * FOLIO PAGE
 *------------------------------------------------------------------------------*/
.folio_div_back_link {
max-width: 1140px;
position: fixed;
top: 60px;
left: 0;
right: 0;
margin: 0 auto;
}

  .folio_back_link {
    display: block;
    width: 70px;
    height: 70px;
    float: right;
    background: #ecbd00;
    z-index: 15;
    text-decoration: none;
    font: 2.25em 'BloknotC';
    color: #000;
    line-height: 70px;
    text-align: center;
  }

.folio__wrap {
max-width: 900px;
margin: 0 auto;
}

  .folio_hgroup {
    margin-top: 160px;
    padding: 0 5px;
  }

    .folio_main_head {
      margin: 0;
      text-transform: uppercase;
      font: 1.3em/1.5em 'BloknotCBold';

    }

    .folio_description {
      margin: 0;
      margin-bottom: 20px;
      font: .875em/1.5em 'BloknotC';
    }

  .folio_img {
    margin-top: 10px;
  }

  .folio_like_project_text {
    font: 1.2em 'BloknotC';
    text-align: center;
  }

  .folio_like_project_text_bold {
    font: 1.2em 'BloknotCBold';
  }

  .folio_like_project_text_link {
    text-decoration: underline;
    color: #000;
  }

  .folio_change_img_group_left {
    display: block;
    float: left;
    font: 1.125em 'BloknotCBold';
    color: #000;
    line-height: 50px;
  }
  
    .folio_change_img_group_left:before {
      content: " ";
      display: block;
      float: left;
      width: 50px;
      height: 50px; 
      background-color: #ecbd00;
      background-image: url('../img/folio/arrow_l.png');
      background-repeat: no-repeat;
      background-position: center center;
      margin-right: 16px;
    }
  
  .folio_change_img_group_right{
    display: block;
    float: right;
    font: 1.125em 'BloknotCBold';
    background-repeat: no-repeat;
    color: #000;
    line-height: 50px;
  }

    .folio_change_img_group_right:after {
      content: " ";
      display: block;
      float: right;
      width: 50px;
      height: 50px;
      background-color: #ecbd00;
      background-image: url('../img/folio/arrow_r.png');
      background-repeat: no-repeat;
      background-position: center center;
      margin-left: 16px;
    }


/*-----------------------------------------------------------------------------
 *404 PAGE
 *------------------------------------------------------------------------------*/

  .wrap_error {
    background-color: #ecbd00;
    position: absolute;
      top: 0;
      bottom: 0;
      left: 0;
      right: 0;
  }

    .error_table {
        display:table;
        width: 100%;
        height: 100%;
    }

      .content_error {
        display: table-cell;
        vertical-align: middle;
      }

        .error_message {
          margin: 0 auto;
          max-width: 720px;
        }

          .text_error{
             font: 28px 'LatoRegular';
             color: #26292e;
          }

           .error_text_link {
             font: 28px 'LatoSemibold';
             color: #26292e;
           }

        .text_error_404{
          margin: ;0 auto;
          font: 404px/464px 'LatoBold';
          color: #26292e;
          text-align: center;
        }

    .footer_error {
      position: relative;
      bottom: 60px;
      background: #26292e;
      height: 60px;
      border-top: 3px solid #2f3238;

    }
        
        .footer_text {
          font: 12px/60px 'MyriadProRegular';
          text-align: center;
          color: #fff;
          text-transform: uppercase;
        }

          .footer_text_yellow {
            color: #ecbd00;
            }

/*-----------------------------------------------------------------------------
 *END 404 PAGE
 *------------------------------------------------------------------------------*/